{% extends 'ZFSAdmin/base.html' %}
{% load static %}
{% block title %}Create ZFS File Systems{% endblock %}
{% block the_body %}
    <div id="button_container" style="margin-bottom:1em;min-height:2.5em;">
        <div id="button_div">
            <div class="btn-toolbar" role="toolbar" aria-label="Snapshot administration">
                <div class="btn-group" role="group" aria-label="Action on selected">
                    <button type="button" class="btn btn-success" id="create_filesystems"><span
                            class="glyphicon glyphicon-plus-sign"
                            style="margin-right:0.5em;"></span>Create File Systems
                    </button>
                    <button type="button" class="btn btn-danger" id="delete_filesystems"><span
                            class="glyphicon glyphicon-minus-sign"
                            style="margin-right:0.5em;"></span>Delete File Systems
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <form role="form" action="{% url 'ZFSAdmin:change_filesystems' %}" method="post">
        <div class="form-group create_filesystem_form">
            <div class="container-fluid">
                <div class="row">
                    <div id="create_filesystem_form" class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
                        <h1><span class="label label-success">Create File System(s)</span></h1>
                        {% for form in formset %}
                            {{ form.non_form_errors }}
                        {% endfor %}
                        {{ formset.non_form_errors }}
                        {% csrf_token %}
                        <div class="form_info alert alert-info">
                            <p>Enter the new filesystem details here, selecting the desired zpool/dataset first.</p>
                            <p>For example, enter MyNewFileSystem, or MyNewFileSystem/MyNewFileSystemTwo.</p>
                        </div>
                        {% for form in formset %}
                            <div class="form_filesystems" style="margin-bottom:1em;">
                                {{ form.datasets }} / {{ form.filesystem }}
                                <div class="zws-red-alert">{{ form.dataset.errors }}</div>
                                <div class="zws-red-alert">{{ form.filesystem.errors }}</div>
                            </div>
                            <div class="form_quota" style="margin-bottom:1em;">
                                <span class="label label-primary">{{ form.quota.label }}</span> {{ form.quota }}GB {{ form.quota.errors }}
                            </div>
                            <div class="form_compression" style="margin-bottom:1em;"><span
                                    class="label label-primary">{{ form.compression.label }}</span> {{ form.compression }} {{ form.compression.errors }}
                            </div>
                            <div class="form_sharenfs" style="margin-bottom:1em;"><span
                                    class="label label-primary">{{ form.sharenfs.label }}</span> {{ form.sharenfs }} {{ form.sharenfs.errors }}
                            </div>
                        {% endfor %}
                        {{ formset.management_form }}
                        <div class="submit" style="margin-top:1em;"><input type="submit" class="btn btn-success"
                                                                           value="Create File System(s)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container-fluid">
        <div class="row">
            <div id="delete_filesystem_form" class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
                <h1><span class="label label-danger">Delete Dataset</span></h1>
                {{ dataset_deletion_form.non_form_errors }}
                {% csrf_token %}
                <div class="form_info alert alert-info">
                    <p>Select the dataset you wish to delete from the list.</p>
                </div>
                {{ dataset_deletion_form.datasets }} {{ dataset_deletion_form.errors }}
                <button class="btn btn-danger" id="delete">Delete Selected File System</button>
            </div>
        </div>
        <div id="dialog-confirm"></div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            var FILESYSTEM_DELETION_DIALOG_TITLE = "The following file system and ALL OF IT'S DESCENDENT " +
                    "FILESYSTEMS AND SNAPSHOTS will be permanently destroyed! " +
                    "Is that really what you want? 'Cause that's what'll happen!";
            var INITIATE_DELETE_MESSAGE = "File system deletion in progress ...";
            var ERROR_MESSAGE = "An error occurred whilst attempting to initiate file system deletion!";

            function init() {
                ButtonListener();
                /* slide in */
                $('#button_div').hide();
                $('#button_div').show("slide", {"direction": "left"}, 1000);
                $('#create_filesystem_form').hide();
                $('#delete_filesystem_form').hide();
            }

            function ButtonListener() {
                document.getElementById("delete").onclick = function () {
                    var selected = $('select[name=datasets]').val();
                    /* call the dialog */
                    if (selected.length > 0) {
                        $("#dialog-confirm").html("<div class=\"alert alert-danger\"><strong>"
                                + FILESYSTEM_DELETION_DIALOG_TITLE + "</strong></div>"
                                + "<div>" + selected + "</div>");
                        // Define the Dialog and its properties.
                        $("#dialog-confirm").dialog({
                            dialogClass: 'no-close',
                            resizable: true,
                            modal: true,
                            title: "Are you really sure?!",
                            height: 600,
                            width: 800,
                            hide: {effect: "fade", duration: 500},
                            buttons: {
                                "Yes, they'll be gone forever, I understand!": function () {
                                    $(this).dialog('close');
                                    dialog_callback(true, selected);
                                },
                                "No, I'm making a terrible mistake, do not delete!": function () {
                                    $(this).dialog('close');
                                    dialog_callback(false);
                                }
                            }
                        });
                    }
                };
                document.getElementById("create_filesystems").onclick = function () {
                    $('#delete_filesystem_form').hide("slide", {"direction": "right"}, 1000, function () {
                        $('#create_filesystem_form').show("slide", {"direction": "left"}, 1000);
                    });
                };
                document.getElementById("delete_filesystems").onclick = function () {
                    $('#create_filesystem_form').hide("slide", {"direction": "left"}, 1000, function () {
                        $('#delete_filesystem_form').show("slide", {"direction": "right"}, 1000);
                    });
                }
            }

            function dialog_callback(value, toDelete) {
                if (value && toDelete) {
                    $('#messages').html(INITIATE_DELETE_MESSAGE);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'ZFSAdmin:delete_filesystem' %}",
                        headers: {"X-CSRFToken": '{{ csrf_token }}'},
                        data: JSON.stringify($({sendData: toDelete})),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result.success == 'true') {
                                setTimeout(function () {
                                    window.location.replace("{% url 'ZFSAdmin:index' %}");
                                }, 1000);
                            } else {
                                setTimeout(function () {
                                    $('#messages').html(ERROR_MESSAGE + '<div>Error Details: ' + result.error + '</div>')
                                }, 1000)
                            }
                        },
                        error: function (result) {
                            $('#messages').html(ERROR_MESSAGE);
                            setTimeout(function () {
                                window.location.replace("{% url 'ZFSAdmin:index' %}");
                            }, 1000);
                        }
                    });
                } else {
                    /* nothing ... */
                }
            }

            /* RUN THE SCRIPTS */
            init();
        });
    </script>
{% endblock %}