{% extends 'ZFSAdmin/base.html' %}
{% load static %}
{% block title %}Create ZFS File Systems{% endblock %}
{% block the_body %}
    <div class="container-fluid">
        <div class="row">
            <form role="form" action="{% url 'ZFSAdmin:create_filesystems' %}" method="post">
                <div class="form-group create_filesystem_form">
                    <div id="create_filesystem_form_1" class="col-xs-6 col-sm-6 col-md-6 col-md-lg-6">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <div class="alert alert-info">Select a dataset under which to create your file systems</div>
                        {{ form.datasets }}
                        {{ form.datasets.errors }}
                    </div>
                    <div id="create_filesystem_form_2" class="col-xs-6 col-sm-6 col-md-6 col-md-lg-6">
                        <div class="form_info alert alert-info">
                            <p>Enter the filesystem names here <span style="font-style:italic;
                            font-weight:bold;">
                                without the prepending dataset</span>.</p>
                            <p>Separate multiple with a comma.</p>
                            <p>
                                For example, if you select the dataset "MyPool/MyFileSystem", submit the following
                                to create two new file systems in the MyPool/MyFileSystem dataset:</p>
                                <p><span style="font-style: italic"> MyNewFileSystem, MyNewFileSystem2
                                </span>
                            </p>
                        </div>
                        {{ form.filesystems }}
                        {{ form.filesystems.errors }}
                        <div class="submit"><input type="submit" class="btn btn-default" value="Submit"/></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            function init() {
                /* slide in */
                $('#create_filesystem_form_1').hide();
                $('#create_filesystem_form_1').show("slide", {"direction": "right"}, 1000);
                $('#create_filesystem_form_2').hide();
                $('#create_filesystem_form_2').show("slide", {"direction": "right"}, 1000);
                $('#existing_filesystems').hide();
                $('#existing_filesystems').show("slide", {"direction": "left"}, 1000);
            }

            /* RUN THE SCRIPTS */
            init();
        });
    </script>
{% endblock %}