@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

body {
    /* background: white url("images/torch_rose_2.jpg");*/
    background-color: white;
    font-family: 'Roboto-Bold', monospace;
}

select {
    margin-bottom:1em;
}

div#main_body {
    min-height:760px;
}

hr {
    margin: 1em 0 1em 0;
}

h1 {
    margin-bottom: 0em;
}

h2 {
    font-size: 1.2em;
}

h1.small_h1 {
    font-size: 1em;
    margin-bottom:1em;
}

h2.small_h2 {
    font-size: 0.9em;
    margin-bottom: 1em;
}

div.out-of-panel-footer {
    margin: 1em;
}

div#main_buttons_container {
    margin: 1em 0 0.5em 0;
    min-height: 3.5em;
}

div#button_container {
    margin: 0 0 0.5em 0;
}

div#snapshot_admin_btn_group{

}

div#check_buttons {
    position: relative;
    float:right;
}

div.submit{
    margin:1em 0 1em 0;
}

div#updating{
    margin:0.5em 0 0.5em 0;
    min-height:2em;
}

div#existing_filesystems, div#create_filesystem_form_1 {
    overflow: auto;
}

div.form-info-small {
    font-size: 0.8em;
}

.zws-red-alert ul li {
    background-color: #f2dede !important;
    color: #a94442 !important;
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 0.3em;
    border: 0.1em solid #ebccd1;
}

/* Navbar overrides */

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Roboto-Bold', monospace;
}

table.snapshot-table {
    /*text-transform: capitalize;*/
}

ul {
    list-style: none;
    padding: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none
}