@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

body {
    /* background: white url("images/torch_rose_2.jpg");*/
    background-color: white;
    font-family: 'Roboto-Bold', monospace;
}

hr {
    margin-bottom: 0;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    font-size: 1.2em;
}

div#existing_filesystems, div#create_filesystem_form_1 {
    overflow: auto;
}

.zws-red-alert ul li {
    background-color: #f2dede !important;
    color: #a94442 !important;
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 0.3em;
    border: 0.1em solid #ebccd1;
}

/* Navbar overrides */

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Roboto-Bold', monospace;
}

table.snapshot-table {
    text-transform: capitalize;
}

ul {
    list-style: none;
    padding: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none
}